<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel Planner App </title>
</head>

<body>
    <section id="header">
        <header class="main__hero">
            <h1>Travel Planner App - Enter a Location and a future date for your trip </h1>
            <p>After getting some information about the trip you can save it for future reference</p>
        </header>
        <p>My saved trips:</p>
    </section>
    <section id="past_trips">
    </section>
    <section id="new_trip">
        <form>
            My Trip Location <input type="text" id="new_trip_location" name="new_trip_location"><br>
            Departing YYYY-MM-DD: <input type="date" name="new_trip_date" id="new_trip_date" value="2020-01-30"><br>
            <button id="new_trip_search_btn" type="button" onclick="return mylib.clickedOnSearch(event)"
                onsubmit="return mylib.clickedOnSearch(event)"> Search Information</button><br>
        </form>
        <div id="error_field"></div>
    </section>
    <section id="search_result"></section>
    <!--   <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>  -->
</body>

</html>